{% include 'lab4_navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Note</title>
</head>
  
<style>
  fieldset {
    background-color: #f2f3f3;
    margin : auto;  
  }
  
  .note {
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 75px;
    top: 50%;
    left: 50%;
  }
        
  legend {
    background-color: rgb(97, 152, 197);
    color: white;
    padding: 5px 10px;
  }
  
  .input{
    color: rgb(83, 148, 233);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5px;
        
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>

<body style="background-color: rgb(20, 85, 160);">
  <div class="note">
    <div class = "input"> 
      {% csrf_token %}
        <fieldset>
          <legend>ADD NOTE:</legend>
          {{form.as_p}}
          <input type="submit" value="Submit">
      </fieldset>
    </form>
    </div> 
  </div>
</body>
</html>