{% include 'lab4_navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <title>ALl Notes</title>
</head>
<style>
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #8fc1ca;}
  
  tr:hover {background-color: rgb(208, 205, 248);}
  
  th {
    padding: 12px;
    text-align: left;
    background-color: #052350;
    color: rgb(227, 226, 235);
  } 
</style> 
    
<body>
<table>
  <tr>
    <th style="text-align:center;">To</th>
    <th style="text-align:center;">From</th>
    <th style="text-align:center;">Title</th>
    <th style="text-align:center;">Message</th>
  </tr>
  <tr>      
    {% for m in message %}
      <td>{{m.to}}</td>  
      <td>{{m.note_from}}</td>  
      <td>{{m.title}}</td>  
      <td>{{m.message}}</td>  
   
  </tr>
    {% endfor %}
        
</table>
</body>
</html>
  