{% include 'lab4_navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <style>
    .notes {
      transition: 0.3s;
      width: 40%;
      border-radius: 5px;
      background: rgb(25, 36, 100);
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .notes:hover { background-color: rgb(116, 168, 211);}
    .container {
      padding: 2px 16px;
    }
    h2 {
        color :rgb(255, 255, 255);
        text-align: center;
    }
    h3 {
        color :rgb(255, 255, 255)
    }
    p {
        color :rgb(255, 255, 255)
    }
    </style>
    <body style="background-color: rgb(119, 144, 175);">
    
    <h2>Note List</h2>
    
    {% for i in notes %}

    <div class="notes">
      <div class="container">
        <h3><b>From     : {{ i.note_from }}</b></h4> 
        <h3><b>To       : {{ i.to }}</b></h4> 
        <h3><b>Title    : {{ i.title }}</b></h4> 
        <p><h3><b>Message</b></h3></p> 
        <p>{{ i.message }}</p> 
      </div>
    </div>
      
    {% endfor %}
      
          
    </body>
    </html> 
    