<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        table {
            width: 70%;
        }
    </style>
    <h1>Friend List</h1> 
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <tr>      
        {% for friend in friends %}
        <td>{{friend.name}}</td>
        <td>{{friend.npm}}</td>
        <td>{{friend.dob}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
