<form action= "" method="POST"> {% csrf_token %}
  <style>
    fieldset {
      background-color: #eeeeee;
    }
        
    legend {
      background-color: gray;
      color: white;
      padding: 5px 10px;
    }
        
    input {
      margin: 5px;
    }
  </style>
  <title>Add Friend</title>
  <h1>Add Friend</h1>

  <fieldset>
  <legend>ADD:</legend>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br>
  <br>
  <label for="npm">NPM:</label>
  <input type="text" id="npm" name="npm"><br>
  <br>
  <label for="dob">DOB:</label>
  <input type="date" id="date" name="dob"><br>
  <br>
  <input type="submit" value="Submit">
  </fieldset>
</form>
