<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
        <tr>      
          {% for m in message %}
          <tr>
            <th style="text-align:left;">To:</th>
            <td>{{m.to}}</td>  
          </tr>

          <tr>
            <th style="text-align:left;">From:</th>
            <td>{{m.note_from}}</td>  
          </tr>

          <tr>
            <th style="text-align:left;">Title:</th>
            <td>{{m.title}}</td>  
          </tr>

          <tr>
            <th style="text-align:left;">Message:</th>
            <td>{{m.message}}</td>  
          </tr>
        </tr>
        {% endfor %}
        
      </table>
    </body>
  </html>
  